/* fuentes */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");


/* variables */
:root {
  --color1: #001952;
  --color2: #8688fa;
  --letra: var(--color2);

  --primary-font: "Source Sans Pro", monospace;
  --big-font-size: clamp(1.2rem, 2.08vw, 1.8rem);
  --normal-font-size: clamp(0.9rem, 2.08vw, 1.2rem);

  --bg1: red;
  --bg2: green;
  --bg3: coral;
}

/* Configuración general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--normal-font-size);
  font-family: var(--primary-font);
  text-decoration: none;
  color: var(--letra);
}

html {
  scroll-behavior: smooth;
  line-height: 1.6;
}

.layout {
  width: 100%;
  display: grid;
  grid:
    "header body"
    "footer body"
    / 35% auto;
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 3rem;
  text-align: right;
}

.header .img {
  width: 40%;
  border-radius: 100%;
  margin-bottom: 1rem;
}

.header .h1 .a {
  font-size: var(--big-font-size);
  color: var(--color1);
}

.header .h3 {
  font-size: var(--big-font-size);
  align-self: end;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header .strong {
  font-size: inherit;
  color: var(--color1);
}

.main {
  grid-area: body;
  background-color: var(--bg1);
  min-height: 100vh;
}

.footer {
  grid-area: footer;
  padding: 0 3rem;
}

.footer .ul {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

.footer .ul .li .a {
  display: flex;
}

.footer .ul .li .a .svg {
  width: var(--big-font-size);
  height: var(--big-font-size);
}